%table#comments
  - @comments.each do |comment|
    %tr.comment
      %td.uname= comment.uname
      %td= comment.content
      %td= link_to '&times;'.html_safe, comment, :method => :delete, :data => { :confirm => 'Чё реально?' }

%br
